
body{
    background-color: lightblue;
}
.title{
    font-size: 50px;
    font-family:     Georgia,  sans-serif;  
    text-align: center;
}
.sketch-board{
    width: 600px;
    height: 600px;
    background-color: #fff;
    padding: 0px;
}
.sketch-board>div{
    margin: 0px;
    padding: 0px;
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
}
.options{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.btn-nbr-squares{
    height: 40px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
}
